*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

/* PHONE FRAME */
.container{
    width: 380px;
    height: 100vh;   /* FULL SCREEN HEIGHT */
    background: black;
    overflow: hidden;
}

/* SHORT */
.short{
    width: 100%;
    height: 100%;
    position: relative;
}

/* IMAGE FIX (MOST IMPORTANT) */
.main-img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;   /* fills full height */
    top: 0;
    left: 0;
}

/* RIGHT SIDE */
.right{
    position: absolute;
    right: 10px;
    bottom: 130px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    color: white;
}

.like,
.comment,
.share,
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right i{
    font-size: 22px;
}

.right h6{
    font-size: 12px;
    margin-top: 4px;
}

/* BOTTOM TEXT */
.bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    color: white;
    background: linear-gradient(transparent, rgba(0,0,0,0.85));
}

.user{
    display: flex;
    align-items: center;
    gap: 12px;
}

.user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user button{
    background: white;
    border: none;
    padding: 6px 14px;
    border-radius: 18px;
    font-weight: 600;
}

.bottom h3{
    margin-top: 10px;
}

.right h4{
    cursor: pointer
}

button {
    cursor: pointer;
}
